<div class="table-wrapper">
  <table class="data-table" [class.striped]="striped" [class.hoverable]="hover" [class.bordered]="bordered">
    <thead>
      <tr>
        @for (col of columns; track col) {
          <th [style.width]="col.width || 'auto'">{{ col.label }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of data; track row) {
        <tr>
          @for (col of columns; track col) {
            <td>{{ row[col.key] }}</td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
